.product .radio_container{
    /*label{
        padding-left: revert;
        border-radius: $border-radius;
        border: 1px solid black;

        &:before{
            display: none;
            
        }   
    }*/
}